/* Miscelanea */

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.poppins-regular {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}


body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: rgb(21, 21, 21);
    overflow-x: hidden;
    user-select: none;
}

header {
    display: flex;
    font-size: 30px;
    align-items: center;
    min-height: 80px;
    padding: 10px 0;
    box-sizing: border-box; 
}

header *{
    margin-left: 40px;
    color: rgb(21, 21, 21);
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

.Lorena{
    display: flex;
    margin-left: auto;
}

.Lorena p{
    font-family: Poppins;
    font-weight: 200;
    margin-left: 0px;
    font-size: 68%;
}

.logoHeader{
    width: 15%;
    height: 15%;
}

nav{
    display: flex;
    font-size: 30px;
    align-items: center;   
}

nav a{
    transition: transform 0.4s;
}

header nav a:hover{
    transform: scale(1.1);
    color: black;
}

#menu-check, #menu{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.presentation{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    width: 60%;
    margin-top: 8%;
}

.presentation .contenedor-logo{
    border-radius: 60%;
    /* background-color: rgb(255, 235, 235); */
    width: 18%;
    aspect-ratio: 1;
    margin-top: -15%;
    margin-left: 4%;
    overflow: hidden;
}

.img-presentation{
    width: 90%;
    margin-top: 0%;
    margin-left: 0%;
}


.galeria{
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    width: 100%;
    margin-top: 6%;
}

.img-paquete{
    width: 33.33%;
    position: relative;
    /* margin-right: 0.4%; */
}

.titulo{
    position: absolute;
    top: 43%;
    left: 30%;
    z-index: -10;
    pointer-events: none;
    font-family: Poppins;
    font-weight: 300;
}

.galeria-img{
    width: 100%;
    height: 82vh;
    object-fit: cover;
    display: block;
    background-color: blue;
   transition: opacity 0.3s;
   border-radius: 5px;
}

#tit-fabula{
    color: rgb(0, 0, 0);
}

.galeria-img:hover{
    opacity: 0.5;
}

.galeria-img:hover ~.titulo{
    z-index: 10;
}

.yuntaPortada{
    background-color: white;
}

footer{
    background-color: white;
    font-family: Poppins;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0; /* Asegura que el footer tenga espacio de padding */
    margin-top: auto; /* Esto empuja el footer hacia abajo */
}

.inicio{
    top: -200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220vh;
    width: 100%;
    background-color: rgb(255, 240, 240);
    z-index: 100;
    position: absolute;
    animation: entrada 2.5s ease-in forwards;
}

@keyframes entrada{
    from{opacity: 1;}
    to{opacity: 0;
    display: none;}
}

@media (max-width:1600px){
    .img-paquete{
        width: 50%;
    }

    .presentation{
        font-size: 2.3vw;
    }
}

@media (max-width:1050px){
    header{
        justify-content: flex-end;
    }

    #menu{
        display: inline;
        z-index: 5;
        margin-right: 4%;
    }

    #menu-check:not(:checked) ~ nav{
        display: none;
    }

    #menu-check:checked ~ nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }

    #menu-check:not(:checked) ~ label #menu-cerrar{
        display: none;
        padding: 6px;
    }

    .Lorena{
        display: flex;
        margin-left:150px;
    }
    
    .Lorena p{
        font-family: Poppins;
        font-weight: 200;
        margin-left: 0px;
        font-size: 48%;
    }
    
    .logoHeader{
        width: 40px;
        height: 40px;
    }
    

    nav{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 171, 0);
        width: 100vw;
        z-index: 2;
        top: 0%;
        height: 30vh;
    }

    nav a{
        margin-left: 0px;
        margin-top: 20px;
    }

    .img-paquete{
        width: 100%;
    }

    .titulo{
        font-size: 27px;
        left: 27%;
    }

    .presentation{
        font-size: 4vw;
    }

    .presentation .contenedor-logo{
        width: 40%;
        aspect-ratio: 1;
    }

    .galeria{
        box-sizing: border-box;
        padding: 5px;
    }

    footer{
        font-size: 10px;
    }
}