body{
    height: 100%;
}

main{
    height: 100%;
}

form{
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    width: 40%;
}

input{
    width: 60%;
    border-radius: 15px;
    padding: 8px;
    border: solid 1px black;
}

textarea{
    width: 95%;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    resize: none;
}

button{
    width: 20%;
    border-radius: 15px;
    padding: 8px;
    border: solid 1px black;
    box-sizing: border-box;
}

button:hover{
    border: solid 2px rgb(42, 42, 42);
}